<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>

<div class="middlePage">

  <%= devise_error_messages! %>

  <div class="page-header">
    <h1 class="logo"> <small>Become a registered user!</small></h1>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign Up</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5" >
          <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-social btn-facebook' do %>
              <span class="fa fa-facebook"></span> Sign up with Facebook
          <% end %>
          <br/>
          <%= link_to user_linkedin_omniauth_authorize_path, class: 'btn btn-block btn-social btn-linkedin' do %>
              <span class="fa fa-linkedin"></span> Sign up with Linkedin
          <% end %>
          <br/>
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-social btn-google' do %>
              <span class="fa fa-google"></span> Sign up with Google
          <% end %>
        </div>

        <div class="col-md-7" style="border-left:1px solid #ccc;height:300px">
          <%= form_for(resource, as: resource_name, url: user_registration_path, html: {class: 'form-horizontal'}) do |f| %>

              <fieldset>
                <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true, class: 'form-control input-md' %>
                <br/>
                <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control input-md' %>
                <br/>
                <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control input-md' %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: 'form-control input-md' %>
                <br/>
                <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', autocomplete: "off", class: 'form-control input-md' %>
                <br/>
                <%= f.submit "Sign up", class: 'button_my pull-right' %>
              </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"> <small> Already have an account? </small> <%= link_to 'Sign in', new_user_session_path %> </div>
</div>

