<div class="comment" data-id="<%= comment.id %>">
  <div class="row">
    <div class="col-md-10">
      <p><strong> <%= comment.user_name %> </strong> says: </p>
      <p> <%= simple_format comment.content %> </p>
    </div>
    <div class="col-md-2">
      <% if user_signed_in? && current_user.admin? %>
        <i id="dlt_comment" class="fa fa-times fa-lg pull-right" aria-hidden="true" data-url="<%= category_post_comment_path(comment.post.category, comment.post, comment)%>"></i>
      <% end %>
    </div>
  </div>
  <hr/>
</div>