<h4>Leave a comment</h4>
<hr class="line"/>
<%= form_for([@category, @post, @post.comments.build], remote: true) do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: 'Your comment*' %>
    </div> <br/>
    <div class="actions">
      <%= f.submit 'Add Comment', class: 'comment_button' %>
    </div>
<% end %>