if($('div.comments').size() == 0) {
    $('div.empty').replaceWith('<div class="comments"></div>');
    $('div.comments').append(' <%= j render @comment %> ');
} else {
    if($('div.comment').size() >= 5 && ($('div.pagination').length != 0)) {
        $('button#more_button').after(' <h5 id="message">Comment posted successfully</h5> ');
        $('h5#message').delay(3000).fadeOut();
    }
    else {
        $('div.comment:last').after('<%= j render @comment %>');
    }
}
$('textarea#comment_content').val('');
var value = parseInt($('span#num_comments').text()) + 1;
$('span#num_comments').text(value);
