<% if user_signed_in? %>
<%= button_to new_topic_path, class: 'button_my', method: :get do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>Create New Topic</span>
<% end %>
<hr/>
<% end %>
<h4>Browse topics by category</h4>
<hr class="line"/>
<ul class="topics_categories">
  <% Category.all.each do |category|%>
      <li> <%= link_to category.name, topics_path(category_id: category.id), remote: true %> </li>
  <% end %>
</ul>
<hr/>
<div>
  <h4>Latest topics</h4>
  <hr class="line"/>
  <ul>
    <% Topic.last_five.each do |topic|%>
        <li>
          <%= link_to topic.name, topic %>
        </li>
    <% end %>
  </ul>
</div>