<%= form_for @topic do |f| %>
    <% if @topic.errors.any? %>
        <div class="form_errors">
            <h4> <%= pluralize(@topic.errors.size, 'error')%> prohibited this data from being saved</h4>
            <ul>
              <% @topic.errors.full_messages.each do |msg| %>
                <li> <%= msg%> </li>
              <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group row">
      <div class="col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
         <%= f.label :category_id %>
      </div>
      <div class="col-sm-10">
        <%= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: 'Choose Category'}%>
      </div>
     </div>
    <br/>
    <div class="form-group row">
      <%= f.submit class: 'button_my' %>
    </div>
<% end %>