<% if user_signed_in? %>
    <%= button_to new_topic_path, class: 'button_my', method: :get do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Create New Topic</span>
    <% end %>
    <hr/>
<% end %>
<h4>Other topics from this category</h4>
<hr class="line"/>
<ul class="topics_categories">
  <% category.last_10_except_this(topic_id).each do |topic|%>
      <li> <%= link_to topic.name, topic %> </li>
  <% end %>
</ul>
<hr/>
<div>
<h4>Latest topics</h4>
  <hr class="line"/>
  <ul>
    <% Topic.last_five.each do |topic|%>
        <li>
          <%= link_to topic.name, topic %>
        </li>
    <% end %>
  </ul>
</div>