<div class="topic">
  <h4> <%=link_to topic.name, topic %> </h4>
  <!--<hr class="line"/>-->
  <span class="glyphicon glyphicon-bookmark"></span>
  <%= topic.category_name %>
  <span class="glyphicon glyphicon-comment icon"></span>
  <%= topic.forum_posts.size %>
  <hr/>
</div>