$('h3#title').html('Forum Topics: <%= j @category.name %>');
$('div.topics').empty();
<% if @topics.size > 0 %>
    $('div.topics').append('<%= j render @topics %>');
    $('ul.pagination').replaceWith(<%= j will_paginate @topics%>);
    $('ul.pagination').show();
<% else %>
    $('div.topics').append('<h5>No topics in this category</h5>');
    $('ul.pagination').hide();
<% end %>