<h3 id="title"> Forum Topics: All categories </h3>
<hr class="line"/>

<div class="main_content">
  <div class="topics">
      <%= render @topics %>
  </div>
  <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
</div>


<div class="sidebar">
  <%= render 'topics/admin_sidebar'%>
</div>

