<h3>Forum Topic:  <%= @topic.name %>
  <% if user_signed_in? && current_user.admin? %>
      <div class="controls pull-right">
        <%= link_to 'Edit', edit_topic_path(@topic) %> |
        <%= link_to 'Delete', @topic, method: :delete, data: {confirm: 'Are you sure?'}%>
      </div>
  <% end %>
</h3>

<hr class="line" />
<div class="main_content">
    <div class="forum_posts">
      <% if @topic.forum_posts_count > 0 %>
      <%= render @forum_posts %>
      <%= will_paginate @forum_posts%>
      <% else %>
          <div class="empty_msg">
             <p>There are currently no posts on this topic</p>
            <hr/>
          </div>
      <% end %>
      <button id="more_forum_posts" class="btn btn-default">Show more</button>
    </div>
  <% if user_signed_in? %>
      <%= render 'forum_posts/form' %>
  <% else %>
      <br/>
      <p> <%= link_to 'Sing In', new_user_session_path %> to make a post on this topic give  <span class="glyphicon glyphicon-thumbs-up"></span> / <span class="glyphicon glyphicon-thumbs-down"></span> to someone. </p>
  <% end %>

</div>

<div class="sidebar">
  <%= render partial: 'topics/sidebar', locals: {category: @topic.category, topic_id: @topic.id} %>
</div>

