$('div.forum_post:last').after('<%= j render(@forum_posts) %>');
<% if @forum_posts.next_page %>
    $('div.pagination').replaceWith('<%= j will_paginate(@forum_posts)%>');
    $('div.pagination').hide();
<% else %>
    $('div.pagination').remove();
    $('button#more_forum_posts').hide();
<% end %>