<div class="user">
  <%= form_for([:admin, @user]) do |f| %>
      <% if @user.errors.any? %>
          <div class="form_errors">
              <h4> <%= pluralize(@user.errors.size, 'error')%> prohibited this data from being saved</h4>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <% end %>
              </ul>
          </div>
      <% end %>
    <div class="form-group row">
      <%= f.label :first_name, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
      </div>
    </div>
    <div class="form-group row">
        <%= f.label :last_name, class: 'col-sm-2 form-control-label' %>
        <div class="col-sm-10">
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
        </div>
    </div>
      <div class="form-group row">
        <%= f.label :email, class: 'col-sm-2 form-control-label' %>
        <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :password, class: 'col-sm-2 form-control-label' %>
        <div class="col-sm-10">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :role, class: 'col-sm-2 form-control-label', placeholder: 'Role' %>
        <div class="col-sm-10">
        <%= f.select(:role, User.roles.keys.map{|role| [role.titleize, role]}, {class: 'form-control'}) %>
          </div>
      </div>
      <div class="form-group row">
        <%= f.submit class:'button_my' %>
      </div>
  <% end %>
</div>