<p> <strong>Type:</strong> <small> <%= user.role.to_s.capitalize %> </small></p>
<p><strong>Member since:</strong> <%= user.created_at.strftime("%b/%Y") %></p>
<p><strong>Number of signings:</strong> <%= user.sign_in_count %> </p>
<p><strong>Last sign in:</strong> <%= user.last_sign_in_at.strftime("%d/%b/%Y / %H:%M") %> </p>
<p><strong>Last IP address:</strong> <%= user.last_sign_in_ip %> </p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_admin_user_path(user)%> |
    <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
