<% if user_signed_in? && current_user.admin? %>
    <strong>Manage user: </strong>
    <%= link_to 'Edit', edit_admin_user_path(user)%> |
    <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
    <hr/>
<% end %>
<p> <strong>Posts published:</strong> <%= user.posts.size %> </p>
<% if user.posts.present? %>
    <p><strong> Last post:</strong> <%= time_ago_in_words user.posts.last.created_at %> ago </p>
    <br/>
    <h4> Posts archive: </h4>
    <hr/>
    <%= render partial: 'posts/mini_post', collection: user.posts_with_category, as: :post %>
<% end %>