<%= button_to new_admin_user_path, method: :get, class: 'button_my' do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>Create New User</span>
<% end %>
<hr/>
<h4>Filter results</h4>
<hr class="line"/>
<div class="search">
    <input id="q" type="text" placeholder="Search for a user.."> <button id="search_button">Search</button>
</div>
<hr/>
<%= check_box_tag 'guest', admin_users_path(role: 0) %> Show only guests <br/>
<%= check_box_tag 'worker', admin_users_path(role: 1) %> Show only moderators <br/>
<%= check_box_tag 'admin', admin_users_path(role: 2) %> Show only admins
<hr/>
