<div class="user">
  <h4><%= link_to user.name, admin_user_path(user) %></h4>
  <p><strong>Type:</strong> <%= user.role %> </p>
  <% if policy(user).update? %>
    <%= link_to 'Edit', edit_admin_user_path(user)%> |
    <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <hr/>
</div>