<h3>All Users</h3>
<hr class="line"/>
<div class="main_content">
    <div class="users">
      <% if @users.size > 0 %>
        <%= render @users %>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
          <% else %>
        <p>No users that match this criteria.</p>
      <% end %>
    </div>
</div>
<div class="sidebar">
  <%= render 'sidebar' %>
</div>