$('div.users').empty();
<% if @users.size > 0%>
    $('div.users').append(' <%= j render @users %> ');
    $('div.users').append(' <%= j will_paginate @users, renderer: BootstrapPagination::Rails  %> ');
<% else %>
$('div.users').append('<p>No users that match this criteria</p>');
<% end %>