<p class="main_title"> Archive:  <%= @user.name %> </p>
<hr class="line"/>
<div class="main_content">
  <% if @user.moderator? %>
      <%= render partial: 'moderator', locals: {user: @user}%>
  <% elsif @user.guest? %>
      <%= render partial: 'guest', locals: {user: @user}%>
  <% else %>
      <h4> <%= @user.name %> </h4>
  <% end %>
</div>
<div class="sidebar">
  <h4>Other moderators</h4>
  <hr class="line"/>
  <ul>
    <% User.moderators.each do |moderator| %>
        <li> <%= link_to moderator.name, admin_user_path(moderator)%> </li>
    <% end %>
  </ul>
</div>