<h3>Forgot your password?</h3>
<hr class="line"/>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
    <br/>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'button_my' %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
