// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {
  margin-top: 40px;
}

// category form
form.new_category {
  margin-bottom: 20px;

  & div.field {
    margin: 10px 0;

    & input#category_name {
      width: 300px;
    }

  }

} // category form end

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 40px;
  margin-bottom: 10px;
}


div.div_sort {

  border-left: 1px solid black;
  padding-left: 15px;


  div.category_sort {

    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #8DE6F0;
    margin-bottom: 10px;

  }
}
