// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  resize: none;
  width: 100%;
  height: 140px;
  padding: 15px;
}

.comment_button {
  background-color: #CC1A1A;
  color: white;
  font-weight: bold;
  border: none;
  height: 35px;
  width: 150px;
  position: absolute;
  right: 1px;
}

.new_comment {
  position: relative;
}

.comment {
  margin-bottom: 25px;
}