// Place all the styles related to the forum_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum_posts {
  & div.pagination {
    display: none;
  }
}

.forum_post {
  padding: 5px;
  //margin-bottom: 15px;

  & p {
    padding-top: 15px;
  }

  & .date_of_posting {
    opacity: 0.7;
    font-size: small;
  }

  & div.voting {
    font-size: medium;

    & span.dislike {
        margin-left: 10px;
    }
  }

}

.forum_post_button {
  background-color: #CC1A1A;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  height: 35px;
  width: 150px;
  position: absolute;
  right: 1px;
}

.new_forum_post {
  position: relative;
}
