// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.no_image_large {
  width: 775px;
  height: 385px;
  background: image_url('no_image_small.png');
}
div.no_image_small {
  height: 103px;
  background: image_url('no_image_large.png');
}

div.comments {
  & div.pagination {
    display: none;
  }
}
div.comment {
  i {
    color: #CC1A1A;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

  div.latest {

    & a {
      color: black;
      opacity: 0.9;
    }

    & div.post {
      padding-bottom: 10px;

      & p.sidebar_post_content {
        height: 80px;
        overflow: hidden;
      }

    }
  }

  div.posts {

    & div.post {
      padding: 0;
      max-height: 555px;
      overflow: hidden;
      margin-bottom: 20px;
    }
  }

  .main_image {
    margin: 10px auto;
  }

  .post_content {
    padding: 10px 10px 20px 0;
  }

  .hr_line {
    //background-color: #CC1A1A;
    height: 2px;
    margin: 5px;
  }

  .icon {
    margin-left: 10px;
  }

  .glyphicon {
    color: #CC1A1A;
  }

  .img_wrapper {
    border: 2px solid #CC1A1A;
    height: 70px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;

    & img {
      vertical-align: top;
      height: 100%;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 45px;

    & li {
      margin-bottom: 10px;
      }
    }

  .sidebar_post_content {
      display: inline-block;
      vertical-align: top;
      //height: 110px;
      overflow: hidden;
      padding-right: 0;

    h5 {
      margin-top: 0;
      & a {
        color: black;
        opacity: 0.8;
      }

    }

    span {
      font-size: smaller;
    }

    }

  .button_more {
      background-color: #CC1A1A;
      color: white;
      font-weight: bold;
      border: none;
      height: 35px;
      width: 60px;
    }



  .sidebar .post {

    & p, span {
      font-size: small;
      opacity: .8;
      margin: 5px 0 5px 0;
    }



  }

.posts .post {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
}

table {
  width: 100%;
  margin-top: 10px;
}

table tr td {
  border: 1px solid white;
  width: 33.33%;
  height: 150px;
  position: relative;
  background-size: 100% 100%;
  overflow: hidden;
  background-repeat: no-repeat;

  & .category_name {
    position: absolute;
    padding: 3px 6px 3px 6px;
    background-color: #CC1A1A;
    color: white;
    font-weight: bold;
    font-size: large;
    left: 0;
    top: 0;
    margin: 0;

  }

  & .post_title {
    position: absolute;
    left: 0;
    top: 80%;
    color: white;
    //font-size: x-large;
    font-weight: bold;
    padding: 1px 1px 1px 5px;
    width: 100%;
    overflow: hidden;
    height: 20px;

    & a {
      color: white;
    }
  }

  & .post_time {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: small;
    font-weight: normal;
    padding: 1px 1px 1px 5px;
  }

  & .main {
    font-size: x-large;
    height: 30px;
  }

  & img {
    max-width: 100%;
    //min-height: 100%;
    height: auto;
  }
}

.home_left {
  width: 60%;
  float: left;
  padding-right: 20px;
}

.home_right {
  width: 40%;
  float: right;
  padding-left: 20px;
}

// for _latest partial
.latest {
  font-size: small;

  & .latest_img {
    max-width: 100%;
    height: auto;
  }
}  // end

button#more_button {
  background-color: #CC1A1A;
  color: white;
  font-weight: bold;
  border: none;
  height: 35px;
  width: 130px;
  margin-bottom: 40px;
}


// post form
.new_post, .edit_post {

  .field {
    padding-bottom: 15px;
  }

  input#post_title {
    width: 550px;
  }

  textarea#post_content {
    height: 600px;
  }

  select#post_category_id {
    background-color: white;
    border: 1px inset;
    height: 30px;
    width: 250px;
  }

} // post form end



