// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.controls {
  display: inline-block;
  font-size: medium;
  margin-top: 4px;
  & a {
    color: #222222;
  }
}

div.main_content {

  // topic form
  .new_topic, .edit_topic {
    margin: 20px auto;
    display: inline-block;

    & .field {
      padding: 10px 0 10px 0;
    }

    & .button {
      background-color: #CC1A1A;
      color: white;
      font-weight: bold;
      border: none;
      height: 35px;

    }

    & #topic_category_id {
      background-color: white;
      color: black;
      border: 1px inset;
      height: 35px;
      width: 350px;
    }

    & #topic_name {
      width: 350px;
      height: 35px;
    }

  } // topic form end



  & div.topic {

    & h4 a {
      color: black;
      opacity: 0.9;
    }

  }



  & .forum_posts {

    & .forum_post {

      span#dlt_f_post {
        margin: 3px 3px 0 0;
        opacity: 0.4;
        color: #CC1A1A;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }

    }

  }


}

div.sidebar {
  .button_to {
    margin: 0 auto;
  }
}