// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select#user_role {
  background-color: white;
  color: black;
  border: 1px inset;
  height: 35px;
  width: 350px;
}