<div style="margin-top: 30px">
  <div class="main_content">
    <% cache do %>
        <table>
          <tr>
            <td colspan="2" rowspan="2" style="background-image: url(<%= create_href(@posts[0].images.first.image.to_s) %>)">
                <h5 class="category_name main"> <%= @posts[0].category.name%> </h5>
                <p class="post_title main"> <%= link_to @posts[0].title, category_post_path(@posts[0].category,@posts[0]) %> </p>
                <p class="post_time"> <%= @posts[0].created_at.strftime("%m/%d/%Y") %> </p>
            </td>
            <td style="background-image: url(<%= create_href(@posts[1].images.first.image.to_s) %>)">
              <%= render partial: 'homes/partial', locals: { post: @posts[1]} %>
          </tr>
          <tr>
            <td style="background-image: url(<%= create_href(@posts[2].images.first.image.to_s) %>)">
              <%= render partial: 'homes/partial', locals: { post: @posts[2]} %>
          </tr>
          <tr>
            <td style="background-image: url(<%=create_href(@posts[3].images.first.image.to_s) %>)">
              <%= render partial: 'homes/partial', locals: { post: @posts[3]} %>
            <td style="background-image: url(<%= create_href(@posts[4].images.first.image.to_s)  %>)">
              <%= render partial: 'homes/partial', locals: { post: @posts[4]} %>
            <td style="background-image: url(<%= create_href(@posts[5].images.first.image.to_s) %>)">
              <%= render partial: 'homes/partial', locals: { post: @posts[5]} %>
          </tr>
        </table>
    <% end %>
    <br/>
    <div class="home_left">
      <h4>Latest</h4>
      <hr class="line"/>
      <%= render 'posts/latest' %>
    </div>
    <div class="home_right">
      <h4>Popular on forum</h4>
      <hr class="line"/>
      <ul>
        <% @topics.all.each do |topic| %>
                <li> <%= render topic %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="sidebar">
  <%= render 'posts/sidebar' %>
</div>