<p class="main_title">Keyword: <%= params[:query] %></p>
<hr class="line"/>
<div class="main_content">
<h5>Posts matching this search:</h5>
<% if @posts.size > 0%>
    <ul>
      <% @posts.each do |post| %>
        <li> <%= link_to post.title, category_post_path(post.category, post)%> </li>
      <% end %>
    </ul>
<% else %>
    <p>Not found</p>
<% end %>
<hr/>
<h5>Topics matching this search:</h5>
<% if @topics.size > 0%>
    <ul>
      <% @topics.each do |topic| %>
          <li> <%= link_to topic.name, topic%> </li>
      <% end %>
    </ul>
<% else %>
    <p>Not found</p>
<% end %>
</div>
<div class="sidebar">
  <%= render 'posts/sidebar' %>
</div>