<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>

<div class="middlePage">

  <%= devise_error_messages! %>

  <div class="page-header">
    <h1 class="logo"> <small>Welcome to our website!</small></h1>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5" >
            <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-social btn-facebook' do %>
                <span class="fa fa-facebook"></span> Sign in with Facebook
            <% end %>
          <br/>
          <%= link_to user_linkedin_omniauth_authorize_path, class: 'btn btn-block btn-social btn-linkedin' do %>
              <span class="fa fa-linkedin"></span> Sign in with Linkedin
          <% end %>
          <br/>
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-social btn-google' do %>
              <span class="fa fa-google"></span> Sign in with Google
          <% end %>
        </div>

        <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
            <fieldset>
                <%= f.email_field :email, placeholder: 'E-mail', autofocus: true, class: 'form-control input-md' %>
              <div class="spacing">
                <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                <% end -%>
                <small> Remember me</small>
              </div>
              <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: 'form-control input-md' %>
              <div class="spacing">
                <a href="password/new"><small> Forgot Password?</small></a><br/>
              </div>
              <%= f.submit "Sign in", class: 'button_my pull-right' %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"> <small> Create new account. </small> <%= link_to 'Sign up', new_user_registration_path %> </div>

</div>

