<%= form_for([@category, @post], html: { multipart: true }) do |f| %>
    <% if @post.errors.any? %>
        <div class="form_errors">
            <h4> <%= pluralize(@post.errors.size, 'error')%> prohibited this data from being saved</h4>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                  <li> <%= msg %> </li>
              <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %> <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :category_id %> <br/>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: 'Choose Category'} %>
    </div>
    <div class="field">
      <%= f.label :content %> <br/>
      <%= f.cktext_area :content, rows: 5, cols: 40, ckeditor: { toolbar: 'mini' } %>
    </div>
    <div class="field">
      <%= button_tag('Upload files', type: 'button', id:'upload_widget_opener') %>
    </div>
    <div class="field thumbs">

    </div>
    <div class="actions">
      <%= f.submit class: 'button_my' %>
    </div>
<% end %>

<script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {

        cloudinary.openUploadWidget({
                    cloud_name: 'dn2youjr9',
                    upload_preset: 'z7yfaepz',
                    thumbnails: '.field.thumbs',
                    client_allowed_formats: ["png","gif", "jpeg", "jpg"],
                    folder: 'website',
                    min_image_height: 355,
                    min_image_width: 735
                },
                function(error, result) {
                for(var i = 0; i < result.length; i++) {
                        $('form').append('<input type="hidden" name="images[]">');
                        $('form input[type=hidden]:last-child').val(result[i].path);
                    }
                });

    }, false);



</script>
