<% Category.first_post(f).tap do |post| %>
    <%= cl_image_tag(post.images.first.image.to_s, :crop => :fill, :width => 775, :height => 385) %>
    <div class="category_name"> <%= post.category.name %> </div>

<% end %>