<div style="overflow: hidden">
    <div style="width: 30%; float: left;">
      <% if post.images.present? %>
        <%= cl_image_tag(post.images.first.image.to_s, :crop => :fill, :width => 134, :height => 97, class: 'latest_img') %>
      <% else %>
        <div class="no_image_small"></div>
      <% end %>
    </div>
    <div class="post" style="width: 70%; padding-left: 10px; float: right;" >
        <strong><%= link_to post.title, category_post_path(post.category, post) %></strong>
        <p class="sidebar_post_content"> <%= strip_tags post.large_introduction %> </p>
        <p>
          <span class="glyphicon glyphicon-calendar icon"></span>
          <%= post.created_at.strftime("%d-%b-%Y") %>
          <span class="glyphicon glyphicon-comment icon"></span>
          <%= pluralize(post.comments.size, 'comment') %>
        </p>
    </div>
</div>
<hr/>