<div class="post">
    <h4> <%= post.title %> </h4>
    <hr class="line" />
    <div class="main_image">
      <% if post.images.present? %>
        <%= cl_image_tag(post.images.first.image.to_s, :crop => :fill, :width => 775, :height => 385)  %>
      <% else %>
        <div class="no_image_large"></div>
      <% end %>
    </div>
    <p class="post_content_collapsed"> <%= strip_tags post.main_introduction %> </p>
</div>
<%= button_to 'More', [post.category, post], method: :get, class: 'button_more' %>