<h4>Categories</h4>
<hr class="line"/>
<ul>
  <% Category.all.each do |category|%>
      <li> <%=link_to category.name, category %> </li>
  <% end %>
</ul>
<hr/>
<div>
  <h4>Popular</h4>
  <hr class="line"/>
      <% Post.popular.each do |post|%>
          <div class="post row">
            <div class="sidebar_img_wrapper col-md-5">
              <%= cl_image_tag(post.images.first.image.to_s, :crop => :fill, :width => 125, :height => 90, class: 'img-responsive') if post.images.present? %>
            </div>
            <div class="sidebar_post_content col-md-7">
              <h5><%= link_to post.title, category_post_path(post.category, post) %> </h5>
              <p> <%= strip_tags post.introduction %> </p>
              <span class="glyphicon glyphicon-time"></span>
              <span><%= post.created_at.strftime("%b/%d/%Y") %> </span>
            </div>
          </div>
          <hr/>
  <% end %>
</div>