$('div.comment:last').after('<%= j render(@comments) %>');
<% if @comments.next_page %>
$('div.pagination').replaceWith('<%= j will_paginate(@comments)%>');
$('div.pagination').hide();
<% else %>
$('div.pagination').remove();
$('button#more_button').hide();
<% end %>