<h5 class="main_title"> <%= @post.title %>
<% if user_signed_in? && current_user.admin? %>
    <div class="pull-right controls">
      <%= link_to 'Edit', edit_category_post_path(@post.category, @post) %> |
      <%= link_to 'Delete', category_post_path(@post.category, @post), method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
<% end %>
</h5>
<hr class="line"/>
<div class="main_content">
  <div class="main_image">
    <% if @post.images.present? %>
        <%= cl_image_tag(@post.images.first.image, :crop => :fill, :width => 775, :height => 385)  %>
    <% else %>
        <div class="no_image_large"></div>
    <% end %>
  </div>
  <div class="s_share row">
     <%= social_share_button_tag(@post.title)%>
  </div>

  <div class="post_content"> <%= raw @post.content %> </div>

  <% if @post.images.present? %>
      <h4>Pictures</h4>
      <div class="img_wrapper">
          <% @post.images.each do |p| %>
            <%= link_to create_href(p.image), { rel: 'gallery', class: 'fancybox' } do %>
            <%= cl_image_tag(p.image.to_s, :crop => :fill, :width => 100, :height => 65) %>
            <% end %>
        <% end %>
      </div>
      <br/> <br/>
  <% end %>


  <hr class="hr_line"/>
  <span class="glyphicon glyphicon-bookmark"></span>
  <%= @post.category.name %>
  <span class="glyphicon glyphicon-calendar icon"></span>
  <%= @post.created_at.strftime("%d-%b-%Y") %>
  <span class="glyphicon glyphicon-user icon"></span>
  <%=link_to @post.user.name, admin_user_path(@post.user) %>
  <span class="glyphicon glyphicon-comment icon"></span>
  <span id="num_comments"><%= pluralize(@post.comments.size, 'comment') %></span>
  <hr class="hr_line"/>

  <br/>

  <% if !@post.has_comments? %>
      <div class="empty">
        <p>No comments yet.</p>
        <br/>
      </div>
  <% else %>
      <div class="comments">
        <%= render @comments %>
        <%= will_paginate @comments %>
      </div>
      <button id="more_button">More comments</button>
  <% end %>

  <% if user_signed_in? %>
    <%= render 'comments/form'%>
  <% else %>
      <p><%= link_to 'Sign in', new_user_session_path %>  to leave a comment. </p>
  <% end %>
</div>
<div class="sidebar">
  <%= render 'posts/sidebar' %>
</div>

