<h4>Make a post on this topic</h4>
<hr class="line"/>
<%= form_for [@topic, @topic.forum_posts.build], {remote: true} do |f| %>
    <div class="field">
        <%= f.text_area :content, rows: 5, cols: 30, placeholder: 'Your post*' %>
    </div>
    <div class="actions">
      <%= f.submit 'Add Post', class: 'forum_post_button' %>
    </div>
<% end %>