<div class="forum_post" data-id="<%= forum_post.id %>">
  <% if forum_post.user.nil? %>
      <strong> Unknown:</strong>
  <% else %>
      <strong><%= forum_post.user_name %>:</strong>
  <% end %>
  <% if user_signed_in? && current_user.admin?%>
    <span id="dlt_f_post" class="pull-right" data-url="<%= topic_forum_post_path(forum_post.topic, forum_post)%>"><i class="fa fa-times fa-lg"></i></span>
  <% end %>
  <br/>
  <span class="date_of_posting"> <%= forum_post.created_at.strftime("%m/%d/%Y") %> </span>
  <div class="content"> <%= simple_format forum_post.content %> </div>
  <br/>
  <div class="voting">
    <% if user_signed_in? %>
      <%= link_to like_topic_forum_post_path(forum_post.topic, forum_post), method: :put do  %>
            <span class="glyphicon glyphicon-thumbs-up like"></span>
      <% end %>
    <% else %>
        <span class="glyphicon glyphicon-thumbs-up like"></span>
    <% end %>
      <span> <%= forum_post.cached_votes_up %> </span>
    <% if user_signed_in? %>
      <%= link_to dislike_topic_forum_post_path(forum_post.topic, forum_post), method: :put do  %>
          <span class="glyphicon glyphicon-thumbs-down dislike"></span>
      <% end %>
    <% else %>
        <span class="glyphicon glyphicon-thumbs-down dislike"></span>
    <% end %>
      <span> <%= forum_post.cached_votes_down %> </span>
  </div>

  <hr/>
</div>