if($('div.empty_msg').length > 0) {
    $('div.empty_msg').remove();
    $('div.forum_posts').append(' <%= j render @forum_post %> ');
} else {
    if($('div.forum_post').size() >= 10 && ($('div.pagination').length != 0)) {
        $('button#more_forum_posts').after(' <h5 id="message">Post created successfully</h5> ');
        $('h5#message').delay(3000).fadeOut();
    }
    else {
        $('div.forum_post:last').after('<%= j render @forum_post %>');
    }
}
$('textarea#forum_post_content').val('');





