/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./desktop
 *= require bootstrap-social
 *= require font-awesome
 *= require social-share-button
 *= require_self
 *= require fancybox
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.active {
  background-color: #303133;
}

// header start
.header {
  width: 100%;
  height: 230px;
  border: 1px solid black;

  .extra_fields {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid black;
    background-color: #333436;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 0 0 80px;
      overflow: hidden;
      background-color: #333436;
      height: 45px;

      li {
        float: left;
        border-right: 1px solid #555555;

        &:last-child {
          border-right: none;
        }

        & input {
          border: 1px solid #454648;
          background-color: #454648;
          border-radius: 2px;
          color: white;
        }

        & a {
          display: inline-block;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding: 10px 16px;
          text-decoration: none;
          height: 45px;
          font-family: Helvetica, Arial, sans-serif;
        }

        & strong {
          display: inline-block;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding: 10px 16px;
        }

        & a:hover {
          color: #CC1A1A;
        }
        .active {
          background-color: #CC1A1A;
        }


      }
    }
  }

  .banner {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid black;
    background-color: #454648;
    vertical-align: middle;
    padding-top: 15px;
  }

  .navigation {
    & ul.main_nav {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 80px;
        //overflow: hidden;
        background-color: #CC1A1A;
        height: 55px;
      overflow: visible;

      & li {
        float: left;
        border-right: 1px solid #F00707;

        & .dropdown {
          height: 50px;
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px;
          cursor: pointer;

          & span#main_span {
            display: block;
            font-weight: bolder;
            color: white;
          }

        }

        & .dropdown:hover > .dropdown-menu {
          display: block;
        }

        & .dropdown-menu {
          background-color: #CC1A1A;
          color: white;
          text-align: center;
          padding-top: 0;
          padding-bottom: 0;

          & li {
            width: 100%;
            border-bottom: 1px solid #454648;
            margin-bottom: 0;

            & a {
              width: 100%;
            }
          }
        }

        &:last-child {
          border-right: none;
        }

        & a {
          display: inline-block;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding: 14px 16px;
          text-decoration: none;
          height: 55px;
          font-weight: bolder;
          font-family: Helvetica, Arial, sans-serif;
          background-image: linear-gradient(to top, #303133, #303133 50%, transparent 50%, transparent);
          background-position: 0 0;
          background-size: 100% 200%;
          transition: all .2s ease-in;
        }

        & a:hover {
          background-position: 0 100%;
        }
        .active {
          background-color: #303133;
        }


      }
    }
  }
}  // header end


// body starts

.container {
  margin-bottom: 20px;

  // main title class
  .main_title {
    font-size: x-large;
    font-weight: bold;
    padding: 15px 0 5px 0;
    margin-bottom: 0;
    //height: 20px;
  }

  .main_title .main {
    height: 30px;
  }

  .line {
    background-color: #CC1A1A;
    height: 4px;
    padding-top: 0;
    margin-top: 0;
  }


  // flash errors

  div.flash_msg {

    margin: 15px auto;
    font-size: medium;
    padding: 10px 5px;
    border-radius: 4px;

  }

  div#flash_notice {
    color: white;
    border: 1px solid #35CBDB;
    background-color: #8DE6F0;
    padding: 3px 2px;
    border-radius: 3px;
    vertical-align: middle;

    & span {
      color: white;
      margin-right: 3px;
      width: 10px;

      &:hover {
        cursor: pointer;
      }
    }

  }

  // flash errors end


  // form errors

  div.form_errors {

    border: 1px solid #CC1A1A;
    margin: 20px auto;

    & h4 {
      font-size: medium;
      background-color: #CC1A1A;
      margin-top: 0;
      padding: 5px;
      color: white;

    }

    & ul {
      padding-left: 10px;
      list-style-type: circle;
      margin-left: 10px;
    }

  } // form errors end


  //login css

  .spacing {
    padding-top:7px;
    padding-bottom:7px;
  }
  .middlePage {
    width: 680px;
    margin: auto;

    & .panel .panel-heading {
      background-image: none;
      background-color: #CC1A1A;
      color: white;

    }

    & .panel.panel-info {
      border-color: #CC1A1A;
      padding-bottom: 15px;
    }

    div.field_with_errors > input {
      border: 1px solid #CC1A1A;
    }

    div#error_explanation {

      border: 1px solid #CC1A1A;
      margin: 20px auto;

      & h2 {
        font-size: medium;
        background-color: #CC1A1A;
        margin-top: 0;
        padding: 5px;
        color: white;

      }

      & ul {
        padding-left: 10px;
        list-style-type: circle;
        margin-left: 10px;
      }

    }

    .link_login {

      & small {
        opacity: 0.9;
      }

    }

  }

  .logo {
    color:#CCC;
  }   // login end

  // main content div

  & .main_content {
    float: left;
    width: 70%;
    padding-right: 20px;


    div.s_share {
      padding: 5px 15px;
    }

    div.social-share-button > * {
      display: inline-block;
      width: 32px;
      height: 32px;
    }

   & .social-share-button-facebook {

     background: image-url('facebook1.png');
    }

    & .social-share-button-twitter {
      background: image-url('twitter.png');
    }

    & .social-share-button-google_plus {
      background: image-url('google.png');
    }

    & .social-share-button-pinterest {
      background: image-url('pinterest.png');
    }

  } // main content end



  & .sidebar {
    float: right;
    width: 30%;

    & li {
      & a {
        color: black;
        opacity: 0.9;
      }

      & a:hover {
        color: #CC1A1A;
        text-decoration: none;
      }
    }

  }

  & .line {
    background-color: #CC1A1A;
    height: 4px;
    padding-top: 0;
    margin-top: 0;
  }

  .button_my {
    background-color: #CC1A1A;
    color: white;
    font-weight: bold;
    border: none;
    height: 35px;
    //width: 60px;
  }

  div.field_with_errors > input {
    border: 1px solid #CC1A1A;
  }
}

// footer starts

.footer {
  width: 100%;
  background-color: #333436;
  padding: 30px 30px;
  overflow: hidden;
  clear: both;
  margin-top: 100px;

  a {
    color: white;
  }

  hr {
    clear: both;
    color: whitesmoke;
  }

  .details {
    color: whitesmoke;
    padding: 2px 0 2px 10px;
    font-size: small;
    opacity: 0.8;
  }

  div {
    //border: 1px solid black;
    display: inline-block;
    padding: 10px 10px;
    color: white;
    width: 250px;
    float: left;
    margin-right: 15px;
    opacity: 0.8;
    //

    &#f_navigation {
      width: 170px;
      margin-right: 10px;
      //float: right;
    }
    &#meta {
      width: 170px;
      margin-right: 10px;
      //float: right;
    }
    &#contacts {
      width: 260px;
      margin-right: 10px;
      //float: right;
    }


    &#company {
      width: 500px;
      margin-right: 30px;
      //float: left;
    }

    ul {
      list-style-type: none;
    }
  }
} // footer end
