<div class="row">
  <div class="col-md-6 form_div">
    <%= form_for(@category, remote: true) do |f| %>
        <% if @category.errors.any? %>
            <div class="form_errors">
              <h4> <%= pluralize(@category.errors.size, 'error')%> prohibited this data from being saved</h4>
              <ul>
                <% @category.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Category name' %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit  class: 'button_my' %>
        </div>
    <% end %>
    </div>


    <div style="display: none;" class="col-md-6 div_sort">
      <p>By default this will be category with the lowest priority. Change it of you want.</p>
      <p>When finished click: <%= link_to 'Done', categories_path%> </p>
        <div class="sortable">
        </div>
    </div>
</div>