var elm = $('div.sortable');
elm.append(' <%= j render partial: 'sort', collection: Category.all, as: :category %>');
$('div.div_sort').show();
$('input#category_name').val('');
$('div.form_div').prepend('<div id="flash_notice">New category added successfully ' +
        '<span class="pull-right">x</span></div>');
