<h3>All Categories</h3>
<hr class="line"/>
<div class="main_content">
  <% @categories.each do |category| %>
    <h4> Category name: <%= link_to category.name, category %> </h4>
    <h5> Number of posts: <%=  category.posts_count %> </h5>
      <% if category.has_posts? %>
    <h5> Last post: <%=time_ago_in_words category.last_activity %> ago</h5>
          <% end %>
    <%= link_to 'Edit', edit_category_path(category)%> |
      <%= link_to 'Delete', category, method: :delete, data: {confirm: 'Are you sure?'} %>
      <hr/>
  <% end %>
</div>
<div class="sidebar">
  <%= button_to 'Create new category', new_category_path, {method: :get, class: 'button_my'}%>
  <%= render 'posts/sidebar' %>
</div>



