<h4 class="heading"> <strong>Category Archives: </strong> <%= @category.name %> </h4>
<hr class="line"/>
<div class="main_content">
  <div class="posts">
  <% if @category.posts.present? %>
    <%= render partial: 'posts/post', collection: @posts.with_first_image, as: :post %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  <% else %>
    <h5>There are currently no posts in this category.</h5>
  <% end %>
  </div>
</div>
<div class="sidebar">
  <%= render 'posts/sidebar' %>
</div>
