<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'phone', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="extra_fields">
    <ul>
      <% if user_signed_in? %>
          <li> <strong> <%= current_user.name %> </strong> </li>
          <li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
          <li> <%= link_to 'RSS' %> </li>
      <% else %>
          <li> <%= link_to 'Log In', new_user_session_path %> </li>
          <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
      <% end %>
      <li style="float: right;"><a href="#">Last</a> </li>
    </ul>
  </div>
  <div class="banner"></div>
  <div class="navigation">
    <ul>
      <li> <%= link_to 'Home', posts_path, class: 'active' %> </li>
      <% Category.all.each do |category| %>
          <li> <%= link_to category.name, category %> </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="container">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
  <%= yield %>
</div>
<div class="footer">
  <div id="company">
    <h3>Company</h3>
    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada.</p>
  </div>
  <div id="data">
    <h3>Navigation</h3>
    <ul>
      <li>Todo</li>
      <li>Make</li>
      <li>Dynamic</li>
      <li>Links</li>
    </ul>
  </div>
  <div id="data">
    <h3>Meta</h3>
    <ul>
      <li>Todo</li>
      <li>Make</li>
      <li>Dynamic</li>
      <li>Links</li>
    </ul>
  </div>
  <div id="data">
    <h3>Contacts</h3>
  </div>
</div>

</body>
</html>
